[submodule "elpatio-backend"]
	path = elpatio-backend
	url = https://github.com/iamp15/elpatio-backend.git
[submodule "elpatio-miniapps"]
	path = elpatio-miniapps
	url = https://github.com/iamp15/elpatio-miniapps.git
[submodule "bot-telegram"]
	path = bot-telegram
	url = https://github.com/iamp15/elpatio-bot-telegram.git
[submodule "elpatio-dashboard"]
	path = elpatio-dashboard
	url = https://github.com/iamp15/elpatio-dashboard.git
